body {
    font-family:'Lucida Grande', sans-serif;
    margin: 0px;
    height: 100%;
    background-color: #F9FAF4;
}

a {
    text-decoration: none;
    color: #F9FAF4;
}

h1{
    margin:0;
    padding: 30px;
    font-size: 60pt;
    text-align: center;
    text-transform: capitalize;
    background-color: #4A6163;
    }
/* h2 {
    color: black;
    font-size: 30pt;
    padding-top: 50px;
    margin: 0;
    text-align: center;
} */

p {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-bar {
    background-color: #F9A66C;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-link {
    display: inline-block;
    color: black;
    font-size: 15pt;
    padding: 5px 60px 5px 60px;
    text-transform: uppercase;
    text-decoration: none;
}
#nav-on-page {
    text-decoration: underline;
}
main {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.intro {
    padding: 20px;
    line-height: 1.5;
    width: 400px;
}
.photo-div {
    margin: 0;
}
.alice-photo {
    width: 350px;
    margin: 20px;
}
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.devicon-github-original-wordmark{
    font-size: 40pt;
    padding: 5px 30px 5px 30px;
}
.devicon-linkedin-plain {
    font-size: 40pt;
    padding: 5px 30px 5px 30px;
}
